<?xml version="1.0"?>
<launch>

  <arg name="hostname" default="192.168.3.141"/>
  <arg name="hostport" default="10086"/>

  <node name="primeii_ros_bridge" pkg="primeii_ros_bridge" type="primeii_ros_bridge.py"  output="screen">
    <param name="hostname" value="$(arg hostname)"/>
	  <param name="hostport" value="$(arg hostport)" />
  </node>

</launch>